.navbar{
	background-color: #192d35;
	height: 50px;
	max-width: 100%;
	color: white;
}
.text-color{
	color: #192d35;
	
}
.box{
	background-color: white; 
	float: left;
	margin-top: 3px; 
	width: 240px;
	height: 150px; 
	border: 1px solid #EEEEEE; 
	border-radius: 5px;
	
}
.container{
	max-width:1100px;
	background-color: white;
	margin: auto;
	
	margin-top: 20px;
	


}
.ml-30{
	margin-left: 30px;
}
.text-align{
	margin-left: 20px; 
	margin-top: 30px;
	font-size: 22px;
}
.box_number{
	padding-right: 20px;
	font-size: 60px;
	color: #009b72;
	float: right;
}
.grey_bold{
	
	
	
	color: #192d35;
}
.task_update{
	width: 160px;
	float: left ;
	margin-top: 10px;
}